*{
    padding: 0;
    margin: 0;
}
#background{
    background-image: url(./Asset/background.jpg);
    width: 1850px;
    height:737px;
}
div {

    background-color: antiquewhite;
    color:blue;
    font-size: xx-large; 
    margin: 45px;

}

button{
    background-color: blueviolet;
     color:whitesmoke;
     font-size: xx-large;
     border: 15px;
}
button:hover{
    background-color: whitesmoke;
    color: blueviolet;
    box-shadow: 12px 12px 2px 1px rgba(0,0,255, .2);
}
.card{

    width: 18rem;
}
.cardBody{

    font-size: small;
}